
<div class="copyright-container">
    <div class="copyright-box copyright-overlay">
              <MudCard Outlined="true" Elevation="25" Class="mx-4 " Style="margin-top: -90px">
                    <MudCardContent>
                        <MudGrid Spacing="2">
                            <MudItem xs="12">
                                <MudText Align="Align.Center" Typo="Typo.h6" Style="font-weight: 700;" Color="@Color.Primary">BLAZOR STORE</MudText>
                                <MudText Align="Align.Center" Typo="Typo.body2" Style="display: block">Mobile PWA and Site Templates  with SaaS feature</MudText>
                            </MudItem>

                            <MudItem xs="12">
                                <MudText Align="Align.Center" Class="my-3" Typo="Typo.body2" Style="display: block">Built to match the design trends and give your page the awesome facelift it deserves.</MudText>
                            </MudItem>

                            <MudItem xs="12">
                                <div class="d-flex justify-center">
                                    <MudIconButton Icon="fab fa-facebook" Class="mx-2 facebook-color rounded-lg" Variant="Variant.Filled"></MudIconButton>
                                    <MudIconButton Icon="fab fa-instagram" Class="mx-2 instagram-color rounded-lg" Variant="Variant.Filled"></MudIconButton>
                                    <MudIconButton Icon="fab fa-twitter" Class="mx-2 twitter-color rounded-lg" Variant="Variant.Filled"></MudIconButton>
                                    <MudIconButton Icon="fas fa-phone" Class="mx-2 rounded-lg" Color="Color.Error" Variant="Variant.Filled"></MudIconButton>
                                    <MudIconButton Icon="fas fa-envelope" Class="mx-2 rounded-lg" Color="Color.Primary" Variant="Variant.Filled"></MudIconButton>
                                </div>
                            </MudItem>

                            <MudItem xs="12">
                                <MudDivider Class="mx-3"></MudDivider>
                            </MudItem>

                            <MudItem xs="12">
                                <MudText Typo="Typo.caption" Align="Align.Center" Style="display: block">Copyright&copy; 2022 <strong>Blazor Store</strong>.<br> All rights reserved.</MudText>
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
              </MudCard>
    </div>
    <div class="copyright-box footer-card shape-rounded">
        <div class="card-overlay bg-highlight"></div>
    </div>
</div>